{% extends "layout.html" %}
{% block body %}

<link rel="stylesheet" href="../static/css/main.css" />
		<!-- Header -->
        <header id="header">
            <div class="inner">
                <a href="/" class="logo">unifeed.</a>
                <nav id="nav"></nav>
                    <a href="{{url_for('logout')}}">Log Out</a>
            </nav>
                <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
            </div>
        </header>
<section id="banner1">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-2 profile_left opaque">
                    <div class="center">
                        {%if 'username' in session %}
                        <img class="profiler" src="{{ url_for('static', filename='img/pp1.png') }}"></img>
                        {%endif%}
                        {%if 's_no' in session %}
                        <img class="profiler" src="{{ url_for('static', filename='img/pp2.png') }}"></img>
                        {%endif%}
                        <h3 style="color:white">{{username}}</h2>
                        <hr>

                        <div class="sidebar-nav">
                            {%if 'username' in session%}
                            <ul>
                            <li style="list-style-type:none;"><a class="sidenav-item" href="{{url_for('home')}}" style="text-decoration: none; color:white;"> <span class="glyphicon glyphicon-home white"></span> &nbsp;&nbsp;Home</a></li>
                            <br>
                            <br>
                            <li style="list-style-type:none;"><a href="{{url_for('results')}}" class="sidenav-item" style="text-decoration: none; color:white;"><i class="fa fa-pie-chart white"></i> &nbsp;&nbsp;Results</a></li>
                            <br>
                            <br>
                            <li style="list-style-type:none;"><a href="{{url_for('myfeed')}}" class="sidenav-item active-li"style="text-decoration: none; color:white;"><span class="glyphicon glyphicon-th-list active-li"></span> &nbsp;&nbsp; Feed</a></li>
                            </ul>
                            {%endif%}
                            {%if 's_no' in session%}
                            <ul>
                            <li style="list-style-type:none;"><a class="sidenav-item " href="{{url_for('home')}}" style="text-decoration: none; color:white;"><span class="glyphicon glyphicon-home white"></span> &nbsp;&nbsp;Home</a></li>
                            <br>
                            <br>
                            <li style="list-style-type:none;"> <a class="sidenav-item active-li" href="{{url_for('myfeed')}} active-li" style="text-decoration: none; color:white;"><span class="glyphicon glyphicon-th-list active-li"></span>  &nbsp;&nbsp;Feed</a></li>
                            </ul>   
                            {%endif%}
                               
    
    
                            </div>
                        <div class="today">
                                <div class="today-piece  top  day"></div>
                                <div class="today-piece  middle  month"></div>
                                <div class="today-piece  middle  date"></div>
                                <div class="today-piece  bottom  year"></div>
                        </div>
                    </div>    
            </div> 
            
            <div class="col-sm-7 opaque homecont"> 
                <!-- <div class="row">
                    <div class="col-sm-7"></div>
                    <div class="col-sm-2"><a class="inner_nav" href="{{url_for('home')}}">Modules</a> </div>
                    {%if 'username' in session %}    
                    <div class="col-sm-2"><a class="inner_nav" href="#">Results</a> </div>
                    <div class="col-sm-2"><a class="inner_nav" href="{{url_for('myfeed')}}">Feed</a> </div>
                    {%endif%}
                    {%if 's_no' in session %}    
                    <div class="col-sm-2"><a class="inner_nav" href="{{url_for('myfeed')}}">Feed</a> </div>
                    {%endif%}
                    <div class="col-sm-1"></div>
                    <br>
                    <br>
                </div> -->
                <h1 class="white" style="font-size:3em;"> My Feed</h1>
                
                <div class="row">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-6">
                        <div class="center">
                            {%for post in current_student_posts%}
                            <div class="feed-item ">
                                <div class="post-mod_code">{{post.mod_code}}</div>
                                <div class="post-mod-content">{{post.content}}</div>
                                <div class="post-mod-owner">{{post.author}}</div>
                                <div class="post-time">{{post.date}}</div>
                            </div>
                            <hr>
                            {%endfor%}

                            {%for post in current_teacher_posts%}
                            <div class="feed-item ">
                                <div class="post-mod_code">{{post.mod_code}}</div>
                                <div class="post-mod-content">{{post.content}}</div>
                                <div class="post-mod-owner">{{post.author}}</div>
                                <div class="post-time">{{post.date}}</div>
                            </div>
                            <hr>
                            {%endfor%}
                        </div>

                        
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>        
</section>




<footer id="footer">
    <div class="inner">
        <div class="flex">
            <div class="copyright">
                &copy; unifeed 
            </div>
        </div>
    </div>
</footer>


{% endblock %}