{% extends "layout.html" %}
{% block body %}

<link rel="stylesheet" href="../static/css/main.css" />
		<!-- Header -->
        <header id="header">
            <div class="inner">
                <a href="/" class="logo">unifeed.</a>
                <nav id="nav"></nav>
                    <a href="{{url_for('logout')}}">Log Out</a>
                </nav>
                <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
            </div>
        </header>
<section id="banner1" scroll="no" style="overflow: hidden">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-2 profile_left opaque">
                    <div class="center">
                        {%if 'username' in session %}
                        <img class="profiler" src="{{ url_for('static', filename='img/pp1.png') }}"></img>
                        
                        {%endif%}
                        {%if 's_no' in session %}
                        <img class="profiler" src="{{ url_for('static', filename='img/pp2.png') }}"></img>
                        {%endif%}
                        <h3 style="color:white">{{username}}</h3>
   
                        <hr>
                        
                        <div class="sidebar-nav">
                                {%if 'username' in session%}
                                <ul>
                                <li style="list-style-type:none;"><a class="sidenav-item active-li" href="{{url_for('home')}}" style="text-decoration: none; color:white;"> <span class="glyphicon glyphicon-home white active-li "></span>   &nbsp;&nbsp;Home</a></li>
                                <br>
                                <br>
                                <li style="list-style-type:none;"><a href="{{url_for('results')}}" class="sidenav-item" style="text-decoration: none; color:white;"><i class="fa fa-pie-chart white"></i> &nbsp;&nbsp;Results</a></li>
                                <br>
                                <br>
                                <li style="list-style-type:none;"><a href="{{url_for('myfeed')}}" class="sidenav-item" style="text-decoration: none; color:white;"><span class="glyphicon glyphicon-th-list white"></span>  &nbsp;&nbsp;Feed</a></li>
                                </ul>
                                {%endif%}
                                {%if 's_no' in session%}
                                <ul>
                                <li style="list-style-type:none;"><a class="sidenav-item active-li" href="{{url_for('home')}}" style="text-decoration: none; color:white;"><span class="glyphicon glyphicon-home white active-li"></span> &nbsp;&nbsp;Home</a></li>
                                <br>
                                <br>
                                <li style="list-style-type:none;"> <a class="sidenav-item" href="{{url_for('myfeed')}}" style="text-decoration: none; color:white;"><span class="glyphicon glyphicon-th-list white"></span>  &nbsp;&nbsp;Feed</a></li>
                                </ul>   
                                {%endif%}


                        </div>



                        <div class="today">
                                <div class="today-piece  top  day"></div>
                                <div class="today-piece  middle  month"></div>
                                <div class="today-piece  middle  date"></div>
                                <div class="today-piece  bottom  year"></div>
                        </div>
                    </div>    
            </div> 
            
            <div class="col-sm-7 opaque homecont"> 
                <!-- <div class="row">
                    <div class="col-sm-6"></div>
                    <div class="col-sm-2"><a class="inner_nav" href="{{url_for('home')}}">Modules</a> </div>
                    {%if 'username' in session %}    
                    <div class="col-sm-2"><a class="inner_nav" href="#">Results</a> </div>
                    <div class="col-sm-2"><a class="inner_nav" href="{{url_for('myfeed')}}">Feed</a> </div>
                    {%endif%}
                    {%if 's_no' in session %}    
                    <div class="col-sm-2"><a class="inner_nav" href="{{url_for('myfeed')}}">Feed</a> </div>
                    {%endif%}
                    <div class="col-sm-1"></div>
                    <br>
                    <br>
                </div> -->
                <h1 class="white" style="font-size:3em;"> My Modules</h1>
                <div style="float: right">
                        <!-- <button type="button" value="Write Post" class="btn btn-success" data-toggle="modal" data-target="#postModal">Write Post</button> -->
                    </div>
                <div class="row">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-6">
                        <div class="center">
                            
                                    {% if current_teacher_modules %}
                            
                                    {% for module in current_teacher_modules %}
                                <!-- <li class="list-group-item w3-card-4 w3-dark-grey">
                                    <div class="w3-container w3-center">
                                        <div class="row">
                                            <div class="col-sm-4"></div>
                                            <div class="col-sm-4 circle">
                                                 {{ module.mod_code }} 
                                            </div>
                                            <div class="col-sm-4"></div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-sm-3"> <button type="button" value="Write Post" class="btn btn-success btn-post" data-toggle="modal" data-target="#postModal" data-id="{{module.mod_code}}">Write Post </button>  </div>
                                            <div class="col-sm-6"> Display Summary Results here </div>
                                            {% if module.active == True %}
                                            <form method=POST action="{{ url_for('close_feedback') }}" id="modulePostForm">
                                                <input type="hidden" name="mod_opt" value="{{module.mod_code}}">
                                                <div class="col-sm-3"><button type="submit" class="btn btn-danger">Close Feedback</button></div>
                                            </form>
                                            {% endif %}
                                            {% if module.active == False %}
                                            <div class="col-sm-3"> <button type="button" value="" class="btn btn-primary btn-feedback" data-toggle="modal" data-target="#feedbackModal" data-id="{{module.mod_code}}">Feedback Form </button>  </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </li>
                                <br> -->

                                <div class="row student_module">

                                        <div class="col-sm-3" style="border-radius:2px;background-color:#A68181;"> {{ module.mod_code }} </div>
                                        <div class="col-sm-9"> {{ module.mod_title }}</div>
                                        
                                        
                                        <div class="col-sm-12" style="border-top:1px solid black;">
                                            <br>
                                            <div class="row">

                                                    
                                                    {% if module.active == True %}
                                                    <form method=POST action="{{ url_for('close_feedback') }}" id="modulePostForm">
                                                            <input type="hidden" name="mod_opt" value="{{module.mod_code}}">
                                                            <div class="col-sm-6"><button type="submit" class="btn btn-danger">Close Feedback</button></div>
                                                    </form>
                                                    {% else %}
                                                    <div class="col-sm-6"> <button type="button" value="" class="btn btn-primary btn-feedback" data-toggle="modal" data-target="#feedbackModal" data-id="{{module.mod_code}}">Feedback Form </button>  </div>
                                                    {%endif%}
                                                    <div class="col-sm-6">
                                                    
                                                            <button type="button" value="Write Post" class="btn btn-success btn-post" data-toggle="modal" data-target="#postModal" data-id="{{module.mod_code}}">Write Post </button>
                                                   
                                                    </div>
                                                        
                                                   
                                            </div>     
                                        </div>
                                    </div>
                                    
    
                                    <br>



                                {% endfor %}
                            
                            {% endif %}
                        </div>

                        
                            {% if current_student_modules %}
                           
                                {% for module in current_student_modules %}
                                <!-- <button class="list-group-item list-group-item-action title" style="text-align:center;">{{ module.mod_code }} - {{ module.mod_title }} <div class="posts" style="color:white">
                                        {% if module.active == True %}
                                        <button href="#" class="btn btn-success btn-md">
                                            <span class="glyphicon glyphicon-edit white"></span> Feedback 
                                        </button>
                                        {%endif%}
                                    </button> 
                                <div class="showModinfo"> <br> </div> -->

                                
                                <div class="row student_module">

                                    <div class="col-sm-3" style="border-radius:2px;background-color:#A68181;"> {{ module.mod_code }} </div>
                                    <div class="col-sm-9"> {{ module.mod_title }}</div>
                                    
                                    
                                    <div class="col-sm-12" style="border-top:1px solid black;">
                                        <br>
                                        <div class="row">
                                                <div class="col-sm-6"><span class="glyphicon glyphicon-user"></span> &nbsp;{{module.owner}}</div>
                                                {% if module.active == True %}
                                                
                                                <div class="col-sm-6">
                                                        
                                                    {% if username in module.active_students %}
                                                    
                                                    <span class=""> Thank you for your feedback! </span>

                                                    {%endif%}
                                                    {% if username not in module.active_students %}
                                                    <button type="submit" href="#" class="btn btn-success btn-startFeed btn-sm" data-toggle="modal" data-target="#studentFeedbackModal" data-id="{{module.active_feed}}">
                                                    <span class="glyphicon glyphicon-edit white"></span> Feedback 
                                                    </button> 
                                                    {%endif%}
                                                </div>
                                                    
                                                {% endif %}
                                        </div>     
                                    </div>
                                </div>
                                

                                <br>

                                
                                {% endfor %}
                            
                            {% endif %}
                       
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>        
</section>



<!-- Modal -->
<div class="modal fade" id="postModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal_space">
           <div class="modal-dialog">
               <div class="modal-content">
                   <div class="modal-header">
                       <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                       <h4 class="modal-title" id="myModalLabel">Write Post : <div id="modcodefeed"></div>  </h4>
                       </div>
                       <div class="modal-body">
                           <form method=POST action="{{ url_for('mod_post') }}" id="modulePostForm">
                           <input type="hidden" id="module_from_id" name="mod_opt">
                           <textarea class="form-control col-xs-12" name="post"></textarea>
                            
                       
                       </div>
                       <div class="modal-footer">
                       <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                       <button type="submit" class="btn btn-success">Post</button>
                           </form>
                   </div>
               </div>
           </div>
       </div>
   </div>     
   
   
   
   <!-- SECOND MODAL -->
    <!-- Modal -->
    <div class="modal fade" id="feedbackModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
       <div class="modal_space">
          <div class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                      <h4 class="modal-title" id="myModalLabel">Post Feedback Form:  <div id="modcodefeed"></div> </h4>
                      </div>
                      <div class="modal-body">
                          <form method=POST action="{{ url_for('feedback_post') }}" id="modulePostForm">
                          <input type="hidden" id="module_from_id2" name="mod_opt">
                          <input type="text" class="form-control" name="form_name" placeholder="form1week1">
                           
                      
                      </div>
                      <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      <button type="submit" class="btn btn-success">Post</button>
                          </form>
                  </div>
              </div>
          </div>
      </div>
   </div>
   
   <div class="modal fade" id="studentFeedbackModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal_space">
       <div class="modal-dialog">
           <div class="modal-content">
               <div class="modal-header">
                   <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                   <h4 class="modal-title" id="myModalLabel">Post Feedback Form:  <div id="modcodefeed1"></div> </h4>
                   </div>
                   <div class="modal-body">
                       <form method=POST action="{{ url_for('feedback_submit') }}" id="studentFeedbackModal">
                       <input type="hidden" id="formname" name="form_name">
                       <!-- <input type="text" class="form-control" name="form_name" placeholder="form1week1"> -->
                       <div class="form-group">
                        <label for="q1">Did you attend lectures this week?</label>
                        <input type="radio" name="attend" id="attend" value="Yes" checked>Yes &nbsp;
                        <input type="radio" name="attend" id="attend" value="No">No
                        </div>
                        <hr>
                        <br>
                   
             
                    <div class="form-group">
                    <h4><b>Thinking about the following headings,please give a rating on how satisfied you were with :</b></h4>    
                    <label  for="q1">Lecture Content</label>
                        <input  type="range" class="left" id="sliderTwo" name="slider2" min=0 max=10 value=0 required>
                        <div class="score left" id="ratingOne">Please Select</div>
                    
                    <br>
                    <br>
                    <label for="q1">Your Level of Understanding</label>
                        <input type="range" class="left" id="sliderTwo" name="slider2" min=0 max=10 value=0 required>
                        <div class="score left" id="ratingOne">Please Select</div>
                    
                    <br>
                    <br>
                    <label  for="q1">Delivery of content</label>
                        <input type="range" class="left"  id="sliderTwo" name="slider2" min=0 max=10 value=0 required>
                        <div class="score left" id="ratingOne">Please Select</div>
                    </div> 
                    <br> 
                    <hr>
                    <div class="form-group">
                        <label for="q1">Do you feel there is enough think time for students during class?</label>
                        <input type="radio" name="think" id="attend" value="Yes">Yes &nbsp;
                        <input type="radio" name="think" id="attend" value="No">No
                        </div>
                        <hr>

                    <br>
                    <div class="form-group">
                        <label for="q1"><h4><b><i>'The lecturer teaches the content' :</i></b></h4> </label>
                        <input type="radio" name="speed" id="attend" value="Yes">Too quickly &nbsp;
                        <input type="radio" name="speed" id="attend" value="No">Too slowly &nbsp;
                        <br>
                        <input type="radio" name="speed" id="attend" value="No">I am keeping up with the pace &nbsp;
                        
                        </div>
                        <hr>

                    <br>
                    <div class="form-group">
                        <h4><b>Thinking about classroom teaching, fill in the following</b></h4>
                        <h4><b><i>'It would be helpful for me if my lecturer spent' :</i></b></h4>
                        
                        <label class="left" for="q2">More Time :</label>
                        <textarea form="studentFeedbackModal" name="more" id=""  rows="1"></textarea>
                        <label class="left" for="q2">Less Time :</label>
                        <textarea form="studentFeedbackModal" name="less" id=""  rows="1"></textarea>
                        <label class="left" for="q2">Continued doing: </label>
                        <textarea form="studentFeedbackModal" name="less" id=""  rows="1"></textarea>
                    </div>

                    <div class="form-group">
                            <h4><b>How would you rate your lectures overall this week?(0-10)</b></h4>
                            <input type="range" class="left" id="sliderOne" name="slider1" min=0 max=10 value=0>
                            <div class="score left" id="ratingOne">Please Select</div>
                            <label class="left" for="q2">Why? Please comment</label>
                           <textarea form="studentFeedbackModal" name="ratingReason" id=""  rows="2"></textarea>
                    </div>
                    <hr>
               
                    
                </div>

                
                    
                
                    
                   
                   <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-success">Submit</button>
                       </form>
               </div>
           </div>
       </div>
   </div>
</div>

 

<footer id="footer">
    <div class="inner">
        <div class="flex">
            <div class="copyright">
                &copy; unifeed 
            </div>
        </div>
    </div>
</footer>


{% endblock %}