{% extends "layout.html" %}
{% block body %}
<link rel="stylesheet" href="../static/css/main.css" />


		<!-- Header -->
        <header id="header">
            <div class="inner">
                <a href="/" class="logo">unifeed.</a>
               
                <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
            </div>
        </header>

    <!-- Banner -->
    <form method=POST action="{{ url_for('register') }}" id="registerForm">    
        <section id="banner1">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-3"></div> 
                    <div class="col-sm-6 opaque"> 
                        <div class="row">
                            <div class="col-sm-3"></div> 
                            <div class="col-sm-6"> 
                                <div class="center">
                                    <br>
                                    <h1>Lecturer Registration</h1>
                                    <p>Please enter your details below </p>
                                    <div id="error"></div>
                                    <div class="form-group">
                                        <label class="formLabel" for="exampleInputEmail1">Username</label>
                                        <input type="text" class="form-control logintext" name="username" placeholder="Username" required="true" >
                                    </div>
                                    <div class="form-group">
                                        <label class="formLabel" for="exampleInputPassword1">Password</label>
                                        <input type="password" class="form-control logintext" name="pass" placeholder="Password" required>
                                    </div>
                                    <div class="form-group">
                                        <label class="formLabel" for="exampleInputEmail1">Enrollment Key</label>
                                        <input type="text" class="form-control logintext" name="enrollment_key" placeholder="enrollment_key" required>
                                    </div>
                                    <br>    
                                    <hr>
                                    <h1>Personal Details</h1>
                                    <p>Tell us a bit about yourself</p>                                
                                    <div class="form-group">
                                            <label class="formLabel" for="exampleInputEmail1">Office Location</label>
                                            <input type="text" class="form-control logintext" name="office_loc" placeholder="e.g Room 112, Callan Building" required>
                                    </div>
                                    
                                    <div class="form-group">
                                            <label class="formLabel" for="exampleInputSites">Link to your personal researce site</label>
                                            <input type="text" class="form-control logintext" name="link" placeholder="e.g. https://lecturerresearch.com" required>
                                    </div>

                                    <br>
                                    <!--if incorrectModulesLength = 0 -->
                                     <a href="#" class="loginButton login"><input type="submit" class="form-control" name="submit"/></a>
                                    <br>
                                    <br>
                                </div>
                            </div>
                        </div>    
                        <br>                       
                    </div>
                </div>
            </div>
        </section>
    </form>
</section>
<footer id="footer">
    <div class="inner">
        <div class="flex">
            <div class="copyright">
                &copy; unifeed 
            </div>
        </div>
    </div>
</footer>

    {% if errormsg %}
    
    <script type="text/javascript">
    
        var error = '{{errormsg}}';
        console.log(error);
        document.getElementById("error").innerHTML += "Error: " +error;
        document.getElementById("error").style.visibility = 'visible';

    
    </script>
    {% endif %}

{% endblock %}