{% extends "layout.html" %}
{% block body %} 
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h3>Please choose your modules : </h3>
            <h4>Type module code in format shown below </h4>
            <form method=POST action="{{ url_for('registertwo') }}">
                <div class="form-group">
                    <label for="exampleInputModule1">Module Code:</label>
                    <input type="text" class="form-control" name="module1" placeholder="EG0000" required>
                </div>
                
                <div class="form-group">
                    <label for="exampleInputModule2">Module Code:</label>
                    <input type="text" class="form-control" name="module2" placeholder="EG0001" required>
                </div>

                <div class="form-group">
                    <label for="exampleInputModule3">Module Code:</label>
                    <input type="text" class="form-control" name="module3" placeholder="EG0002">
                </div>

                <div class="form-group">
                    <label for="exampleInputModule4">Module Code:</label>
                    <input type="text" class="form-control" name="module4" placeholder="EG0003">
                </div>

                <div class="form-group">
                    <label for="exampleInputModule5">Module Code:</label>
                    <input type="text" class="form-control" name="module5" placeholder="EG0004">
                </div>
            
                <div class="form-group">
                    <label for="exampleInputModule6">Module Code:</label>
                    <input type="text" class="form-control" name="module6" placeholder="EG0005">
                </div>
                
                <div class="btn">
                    <input type="submit" value="Validate"></input>
                </div>   
            </form>
        </div>
                
            

            <div class="col-md-4"> 
                    <h2 style="text-align:center"><u><b>Validity: </b></u></h2>
                    <hr>
                    <h3 style="text-align:center"><u><b>Valid: </b></u></h3>    
                    <div class="container">        
                        <ul class="modules">   
                            {% for module in modules_true %}
                                <li> <h3><div class="alert alert-success"> {{ module }}</div></h3></li>
                            {%endfor%}
                        </ul>
                    </div>
                    <h3 style="text-align:center"><u><b>Invalid: </b></u></h3>  
                    <div class="container">
                        <ul class="modules">
                            {%if modules_false is defined%}        
                            {% for module in modules_false%}
                            
                                <li> <h3><div class="alert alert-danger"> {{ module }}</div></h3></li>
                            {%endfor%}
                            {%else%}
                            <form action="{{submit}}">
                                    <input type="submit" value="Register"></input>
                            </form>
                            {%endif%}
                        </ul>
                    </div>
                <br>
                
                
            </div>
    </div>
</div>
{% endblock %}