{% extends "layout.html" %}
{% block body %} 
<link rel="stylesheet" href="../static/css/main.css" />
		<!-- Header -->
        <header id="header">
            <div class="inner">
                <a href="/" class="logo">unifeed.</a>
               
                <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
            </div>
        </header>

    <!-- Banner -->
    <form method=POST action="{{ url_for('registerS') }}" id="registerSForm">
        <section id="banner1">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-3"></div> 
                    <div class="col-lg-6 opaque"> 
                        <div class="row">
                            <div class="col-lg-3"></div> 
                            <div class="col-lg-6"> 
                                <div class="center">
                                    <h1>Student Registration</h1>
                                    <p>Please enter your Student Number </p>
                                    <div id="error"></div>
                                    <div class="form-group">
                                        <label class="formLabel" for="exampleInputEmail1">Student Number</label>
                                        <input type="text" class="form-control logintext" name="username" placeholder="Student Number">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">Password</label>
                                        <input type="password" class="form-control logintext" name="pass" placeholder="Password">
                                    </div>                        
                                    <a href="#three" class="login loginButton">Next</a>
                                </div>
                            </div>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
        </section>

        

        <section id="three" class="wrapper special">

            <div class="container-fluid">

                <div class="row">
                        <div class="col-lg-3"></div> 
                        <div class="col-lg-6 opaqueStronger"> 
                            <div class="row">
                                    <div class="col-lg-3"></div> 
                                    <div class="col-lg-6"> 
                                       <div class="center">
                                            <h1>Module Registration</h1>
                                            <p>Please enter the modules you are enrolled in: </p>
                                        
                                            <div class="form-group">
                                                <label for="exampleInputModule1">Module Code:</label>
                                                <input type="text" class="form-control module1 logintext" id = "module1" name="module1" placeholder="EG0000" required>
                                            </div>
                                            
                                            <div class="form-group">
                                                <label for="exampleInputModule2">Module Code:</label>
                                                <input type="text" class="form-control module1 logintext" id = "module2" name="module1" placeholder="EG0001" required>
                                            </div>
                            
                                            <div class="form-group">
                                                <label for="exampleInputModule3">Module Code:</label>
                                                <input type="text" class="form-control module1 logintext" id = "module3" name="module1" placeholder="EG0002">
                                            </div>
                            
                                            <div class="form-group">
                                                <label for="exampleInputModule4">Module Code:</label>
                                                <input type="text" class="form-control module1 logintext" id = "module4" name="module1" placeholder="EG0003">
                                            </div>
                            
                                            <div class="form-group">
                                                <label for="exampleInputModule5">Module Code:</label>
                                                <input type="text" class="form-control module1 logintext" id = "module5" name="module1" placeholder="EG0004">
                                            </div>
                                        
                                            <div class="form-group">
                                                <label for="exampleInputModule6">Module Code:</label>
                                                <input type="text" class="form-control module1 logintext" id = "module6" name="module1" placeholder="EG0005">
                                            </div>
                                            
                                            <input type="hidden" name="modules" id="modules">    
                                            <h3>Note : You will not be registered for any modules with a <p style="color:red">red border</p></h3>

                                            
                                            <button type="submit" class="loginButton login">Register</button>
                                            
        </form>
                                       </div>
                                    </div>
                                </div>
                            <br>
                        </div>
                </div>

            </div>

        </section>

        {% if errormsg %}
    
        <script type="text/javascript">
        
            var error = '{{errormsg}}';
            console.log(error);
            document.getElementById("error").innerHTML += "Error: " +error;
            document.getElementById("error").style.visibility = 'visible';
    
        
        </script>
        {% endif %}   
    <footer id="footer">
        <div class="inner">
            <div class="flex">
                <div class="copyright">
                    &copy; unifeed 
                </div>
            </div>
        </div>
    </footer>

{% endblock %}