{% extends "layout.html" %}
{% block body %}
<link rel="stylesheet" href="../static/css/main.css" />
		<!-- Header -->
        <header id="header">
            <div class="inner">
                <a href="/" class="logo">unifeed.</a>
                <nav id="nav">
                    <a href="{{url_for('signIn')}}">Sign In</a>
                    <a href="#one">Information</a>
                </nav>
                <!-- <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a> -->
            </div>
        </header>

    <!-- Banner -->
        <section id="banner">
            <h1 class="title">Welcome to unifeed!</h1>
            <p style="font-weight:bold; font-size:1.5em;">A Feedback Platform for Third-level Lecturers and Students.</p>

            <div class="container-fluid containindex">

                <div class="row">
                        <div class="col-sm-3"></div> 
                        <div class="col-sm-6"> 
                            <div class="row">
                                    <div class="col-sm-3"></div> 
                                    <div class="col-sm-6"> 
                                       <div class="center">
                                           <a class="item" href="{{ url_for('login') }}" ><button class=" loginhome loginButton">Login </button></a>
                                       </div>
                                    </div>
                                    <div class="col-sm-3"></div> 
                            </div>
                            <div class="row"> 
                                    <div class="col-sm-3"></div> 
                                    <div class="col-sm-6">            
                                    <button id="heading" class="loginhome loginButton" >Register</button> 
                                    <div id="menuitems">
                  
                                            <a class="item" id="item1" href="{{ url_for('register') }}">Teacher</a>
                                            <br>
                                            <a class="item" id="item2" href="{{ url_for('registerS') }}">Student</a>
                                          
                                    </div>
                            
                                </div>
                                <div class="col-sm-3"></div> 
                            </div>
                        </div>
                </div>

            </div>

             
            


            <!-- <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-3"></div> <div class="col-sm-6 signIn">
                        <h1>Welcome to unifeed!</h1>
                        <p>An application of constant communication between lecturers and students.</p>
                    </div>
                </div>
            </div> -->


        </section>

    <!-- One -->
        <section id="one" class="wrapper">
            <div class="inner">
                <div class="flex flex-3">
                    <article class="info">
                        <header>
                            <h3>Student-Teacher communication</h3>
                        </header>
                        <p>Morbi interdum mollis sapien. Sed ac risus. Phasellus lacinia, magna a ullamcorper laoreet, lectus arcu.</p>
                        <footer>
                            <a href="#" class="button special">More</a>
                        </footer>
                    </article>
                    <article class="info">
                        <header>
                            <h3>Improve overall class grades</h3>
                        </header>
                        <p>Morbi interdum mollis sapien. Sed ac risus. Phasellus lacinia, magna a ullamcorper laoreet, lectus arcu.</p>
                        <footer>
                            <a href="#" class="button special">More</a>
                        </footer>
                    </article>
                    <article class="info">
                        <header>
                            <h3>Have your say!</h3>
                        </header>
                        <p>Morbi interdum mollis sapien. Sed ac risus. Phasellus lacinia, magna a ullamcorper laoreet, lectus arcu.</p>
                        
                        <footer style="bottom: 0">
                            <a href="#" class="button special">More</a>
                        </footer></div>
                    </article>
                </div>
            </div>
        </section>

        <footer id="footer">
            <div class="inner">
                <div class="flex">
                    <div class="copyright">
                        &copy; unifeed 
                    </div>
                </div>
            </div>
        </footer>

{% endblock %}